:root {
  --resume-tag: #696969;
  --resume-text-highlighted: #3DFFDB;
  --resume-section: #0094FF;
  --light: #FFFFFF;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  max-width: 1900px;
  background-color: #003F6C;
  margin: 0 auto;
}

.container {
  display: flex;
  max-width: 1460px;
  margin: 113px auto 100px auto;
  background-color: #0674C5;
}

.title {
  width: 100%;
  max-width: 670px;
}

.title__header {
  color: var(--light);
  font-family: 'Arial';
  font-style: normal;
  font-weight: 700;
  font-size: 60px;
  line-height: 60px;
  padding-top: calc(361px - 113px);
  padding-left: 175px;
  text-transform: uppercase;
}

.resume-container {
  background: #181616;
  box-shadow: 9.32528px 11.1903px 8.39275px 5.59517px rgba(0, 0, 0, 0.25);
  width: 100%;
  max-width: 590px;
  min-height: 600px;
  margin-top: 100px;
  margin-bottom: 100px;
  margin-right: 175px;
  padding-left: 30px;
  padding-top: 30px;
}

.resume__style {
  color: var(--resume-tag);
  font-family: 'Arial';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 20px;
}

.resume__author {
  color: var(--resume-text-highlighted);
  font-family: 'Arial';
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 22px;
}

.resume__tag {
  color: var(--resume-tag);
  font-family: 'Arial';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 20px;
}

.resume__text {
  color: var(--light);
  font-family: 'Arial';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 20px;
}

.resume__text_small {
  font-size: 18px;
}

.resume__article {
  color: var(--resume-section);
  font-family: 'Arial';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 20px;
}

.resume__article-item {
  color: var(--resume-text-highlighted);
  font-family: 'Arial';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 20px;
}

.resume__list {
  list-style: none;
}

.resume__link,
.resume__link:visited {
  text-decoration: none;
  color: var(--light);
}
